body {
  background-color: black;
  overflow-x: hidden;
}

/* Heading style */

h1 {
    margin: 2rem 0 0em 2rem;
}

h1,h2,h4 {
    color: #57BFE6;
    font-family: 'Bebas Neue', sans-serif;
}

h1 {
  font-size: 8rem!important;
    line-height: 0.9;
}

h2 {
  font-size: 5rem!important;
  letter-spacing: 0.3rem!important;
}

h3 {
  font-size: 2rem!important;
  color: white;
}

h3,p,span,li {
  font-family: 'Source Sans Pro', sans-serif;
}

h4 {
  font-size: 1.5rem!important;
  letter-spacing: 0.1rem !important;
}

/* Text content style */
p {
    font-size: 1.3rem!important;
    font-weight: 300!important;
    margin-bottom: 0;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

span {
  color: white!important; 
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300!important;
  font-size: 1.1rem;
  font-style: italic!important;
}

/* Menu Style */

nav {
  height: 100vh;
  width: 20%;
  position: fixed;
  background-color: #000000;
  top: 0;
  display: inline-block;
  z-index: 3;
}

nav ul {
  list-style: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  padding-top: 5em;
  height: 100vh;
}

/* Container style */

section {
  padding: 5rem 3rem!important;
}

.hero {
  padding: 0!important;
}

button {
  font-weight: 300;
}

svg {
    color: white;
}

li {
  font-weight: 300;
}

    .scroll-to-top {
      background-color: white!important;
      box-shadow: initial!important;
      border-radius: 50%!important;
    }

         .scroll-to-top svg {
          fill: black;
          width: 20px;
          height: auto;
         }

         ::-webkit-scrollbar {
          width: 6px;
          border-radius: 20px;
         }
         ::-webkit-scrollbar-thumb {
          background-color: #57BFE6;
         }
         
         a {
          text-decoration: none;
          color: white;
         }
@media screen and (max-width: 1280px) {

  h1 {
    font-size: 2.5rem!important;
  }

  h2 {
    font-size: 2rem!important;
    letter-spacing: 0.1rem!important;
  }

  h3 {
      font-size: 1.4rem!important;
    }

    h4 {
      letter-spacing: initial!important;
    }

  p{
    font-size: 1rem!important;
    font-family: 'Source Sans Pro', sans-serif;
  }

  span {
    font-size: 0.9rem!important;
  }

    section {
      padding: 5rem 1rem !important;
    }

  nav {
    width: 100%;
  }

    nav ul {
      list-style: none;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 100vh;
    }
}